version: "3"
services:
  postgres:
    restart: always
    image: postgres:latest
    environment:
      HOST: 0.0.0.0
      POSTGRES_USER: matcha
      POSTGRES_PASSWORD: matcha
      POSTGRES_DB: matcha

  redis:
    restart: always
    image: redis:latest

  matcha:
    restart: always
    build: .
    image: matcha
    volumes:
      - .:/go/src/github.com/orenkay/matcha
    command: ["./wait-for-it.sh", "postgres:5432", "--", "go", "run", "./cmd/matcha/main.go"]
    links:
      - postgres
      - redis
    ports:
      - "3000:3000"
    environment:
      ENVIRONMENT: prod
  
  matcha-client:
    restart: always
    build: ./assets/client
    image: matcha-client
    links:
      - matcha
    ports:
      - "80:80"
